@using System.Web.Mvc.Html
@model List<CarDealership.Models.RequestForm>

@{
    ViewBag.Title = "List";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
        <h2>List of Request Forms</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Vehicle ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var form in Model)
                {
                    <tr>
                        <td>@form.RequestFormStatus</td>
                        <td>@form.VehicleId</td>
                        <td>@form.FirstName</td>
                        <td>@form.LastName</td>
                        <td>@form.PhoneNumber</td>
                        <td>@Html.ActionLink("Details", "Details", new { id = form.RequestFormId }, new { @class = "btn btn-success" })</td>
                        <td>@Html.ActionLink("Edit", "UpdateForm", new { id = form.RequestFormId }, new { @class = "btn btn-default" })</td>
                        <td>@Html.ActionLink("Delete", "DeleteForm", new { id = form.RequestFormId }, new { @class = "btn btn-danger" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
</body>
</html>