@model CarDealership.Models.RequestForm

@{
    ViewBag.Title = "NewForm";
}

@using (Html.BeginForm("NewForm", "RequestForm", FormMethod.Post, new { @class = "form-horizontal", id = "AddRequest" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Vehicle ID - @Model.VehicleId</label>
                @Html.HiddenFor(m => m.VehicleId)
            </div>
            <div class="form-group">
                <label>First Name</label>
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Last Name</label>
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Best Time to Call</label>
                @Html.TextBoxFor(m => m.BestTimeToCall, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <p></p>
            <p></p>
            <br />
            <br />
            <div class="form-group">
                <label>Preferred Contact Method</label>
                @Html.EnumDropDownListFor(m => m.PreferedContactMethod, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Date to Purchase by</label>
                @Html.EditorFor(m => m.DateNeedToPurchaseBy, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Additional Information</label>
                @Html.TextBoxFor(m => m.AdditionalInfo, new { @class = "form-control" })
            </div>
            <br />
            <br />
            <br />

            <div>
                <a href="javascript:history.back()" class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
}
@section scripts
{
    <script src="~/Scripts/app/AddRequestValidate.js"></script>
    <script src="~/Scripts/app/DefaultValidation.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
}