@using System.Web.Mvc.Html
@model CarDealership.Models.Vehicle

@{
    ViewBag.Title = "AddCar";
}

<h2>Add A Car</h2>

@using (Html.BeginForm("AddCar", "Home", FormMethod.Post, new { id = "AddCar" }))
{
    <div class="container">
        <div class="row">
            <div class="form-group col-sm-6">
                <b>Make:</b>
                @Html.DropDownListFor(m => m.Make,
         new[]
         {
                        new SelectListItem {Text = "Porsche", Value = "Porsche"},
                        new SelectListItem {Text = "Honda", Value = "Honda"},
                        new SelectListItem {Text = "Tesla", Value = "Tesla"},
                        new SelectListItem {Text = "Ford", Value = "Ford"},
                        new SelectListItem {Text = "Toyota", Value = "Toyota"},
                        new SelectListItem {Text = "Chevy", Value = "Chevy"},
                        new SelectListItem {Text = "Volkswagen", Value = "Volkswagen"},
                        new SelectListItem {Text = "Kia", Value = "Kia"},
                        new SelectListItem {Text = "Hyundai", Value = "Hyundai"},
                        new SelectListItem {Text = "Lexus", Value = "Lexus"}
         }, "Choose an option", new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label>Model: </label>
                @Html.EditorFor(m => m.Model, new { @class = "form-control" })
            </div>
            <div class="form-group col-xs-6">
                <label>Year: </label>
                @Html.EditorFor(m => m.Year, new { @class = "form-control" })
            </div>
            <div class="form-group col-xs-6">
                <label>Mileage: </label>
                @Html.EditorFor(m => m.Mileage, new { @class = "form-control" })
            </div>
            <div class="form-group col-xs-6">
                <label>Price: </label>
                @Html.EditorFor(m => m.Price, new { @class = "form-control" })
            </div>
            <div class="form-group col-xs-6">
                <label>Title For Your Ad: </label>
                @Html.EditorFor(m => m.AdTitle, new { @class = "form-control" })
            </div>
            <div class="form-group col-xs-6">
                <label>Link to Vehicle Photo: </label>
                @Html.EditorFor(m => m.PictureUrl, new { @class = "form-control" })
            </div>

            <div class="form-group col-xs-6">
                <label>Vehicle Description: </label>
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label>Is Your Vehicle Available For Sale?:</label>
                @Html.DropDownListFor(m => m.IsAvailable,
                    new[]
                    {
                        new SelectListItem {Text = "Yes", Value = bool.TrueString},
                        new SelectListItem {Text = "No", Value = bool.FalseString}
                    }, "Choose an option", new { @class = "form-control" })
            </div>

            <div class="form-group col-xs-6">
                <label>Condition: </label>
                @Html.DropDownListFor(m => m.IsNew,
                    new[]
                    {
                        new SelectListItem {Text = "New", Value = bool.TrueString},
                        new SelectListItem {Text = "Used", Value = bool.FalseString}
                    }, "Choose an option", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-xs-9">
            <button class="btn btn-success" type="submit">Add Your Car</button>
        </div>
    </div>
}
@section scripts
{
    <script src="~/Scripts/app/AddCarValidate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/app/DefaultValidation.js"></script>
}