﻿@model CarDealership.Models.Vehicle

@{
    ViewBag.Title = "CarDetails";
}

<h2>CarDetails</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Content/Images/@Model.PictureUrl" style="height: 100%; width: 100%; object-fit: contain" />
        </div>
        <div class="col-md-6">
            @if (Model.IsNew)
            {
                <p style="color: teal; font-weight: bold">NEW! </p>
            }
            else
            {
                <p style="color: orange; font-weight: bold">Used! </p>
            }
            @Model.AdTitle
            <table class="table table-hover, table-striped">
                <tbody>
                    @if (User.IsInRole("Admin"))
                    {
                        <tr>
                            <th>Edit Listing:</th>
                            <td>@Html.ActionLink("Edit Listing", "EditCar", "Home", new { id = Model.VehicleId }, new { @class = "btn btn-success" })</td>
                        </tr>
                    }
                    <tr>
                        <th>Vehicle ID: </th>
                        <td>@Model.VehicleId</td>
                    </tr>
                    <tr>
                        <th>Make : </th>
                        <td>@Model.Make</td>
                    </tr>
                    <tr>
                        <th>Model : </th>
                        <td>@Model.Model</td>
                    </tr>
                    <tr>
                        <th>Year : </th>
                        <td>@Model.Year</td>
                    </tr>
                    <tr>
                        <th>Mileage : </th>
                        <td>@Model.Mileage</td>
                    </tr>
                    <tr>
                        <th>Price : </th>
                        <td>$@Model.Price</td>
                    </tr>
                    <tr>
                        <th>Description : </th>
                        <td>@Model.Description</td>
                    </tr>
                </tbody>
            </table>

            @Html.ActionLink("Request More Information", "NewForm", "RequestForm", new { @id = Model.VehicleId }, new { @class = "btn btn-success" })
        </div>
    </div>
</div>