@using System.Web.Mvc.Html
@model DvdLibrary.UI.Models.DvdVM

@{
    ViewBag.Title = "AddDvd";
}

<h2>Add A Dvd</h2>
@using (Html.BeginForm("AddDvd", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="container">
        <div class="form-group">
            @Html.LabelFor(m => m.Dvd.Title, new { @class = "control-label" })
            @Html.EditorFor(m => m.Dvd.Title, new { HtmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.MovieDirectors, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.MovieDirectors, Model.MovieDirectors)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Dvd.ReleaseDate, new {@class = "control-label"})
            @Html.EditorFor(m => m.Dvd.ReleaseDate, new {HtmlAttributes = new {@class = "form-control"}})
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Dvd.MPAARating, new {@class = "control-label"})
            @*use ENUMDropDownListFor to show enum*@
            @Html.EnumDropDownListFor(m => m.Dvd.MPAARating, new {HtmlAttributes = new {@class = "form-control"}})
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Dvd.UserComments, new {@class = "control-label"})
            @Html.TextAreaFor(m => m.Dvd.UserComments, new {HtmlAttributes = new {@class = "form-control"}})
        </div>

        <button id="Add" class="btn-default">Add Dvd</button>
    </div>
}