@model List<DvdLibrary.Models.BorrowInfo>
@{
    ViewBag.Title = "BorrowInfo";
}

<h2>BorrowInfo</h2>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>DVD ID</th>
            <th>Borrower Name</th>
            <th>Checkout Date</th>
            <th>Return Date</th>
            <th>User Rating</th>
            <th>User Comments</th>
        </tr>
    </thead>
    <tbody>
        @*Need to be able to associate dvd id -> dvd, get dvd title, same with borrower id->get borrower name*@
        @foreach (var borrow in Model)
            {
            <tr>
                <td>@borrow.DvdId</td>
                <td>@*@borrow.Borrower.BorrowerId*@</td>
                <td>@borrow.DateBorrowed</td>
                <td>
                    @borrow.DateReturned
                </td>
                <td>@borrow.BorrowerRating</td>
                <td>@borrow.BorrowerComment</td>
            </tr>
        }
    </tbody>
</table> 