@model List<DvdLibrary.Models.Borrower>
@{
    ViewBag.Title = "BorrowerData";
}

<h2>Borrower Data</h2>

    List of Borrowers / Information
    may be only viewable if admin.
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Borrower ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Borrow History</th>
            <th>Edit Borrower</th>
            <th>Deactivate Borrower</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var borrower in Model)
            {
            <tr>
                <td>@borrower.BorrowerId</td>
                <td>@borrower.FirstName</td>
                <td>@borrower.LastName</td>
                <td>@borrower.PhoneNumber</td>
                <td>@Html.ActionLink("View Details", "BorrowList", "Home", new { id = borrower.BorrowerId }, new { @class = "btn btn-default" })</td>
                <td>@Html.ActionLink("Edit", "EditBorrower", "Home", new { id = borrower.BorrowerId }, new { @class = "btn btn-success" })</td>
                <td>@Html.ActionLink("Deactivate", "DeleteBorrower", "Home", new { id = borrower.BorrowerId }, new { @class = "btn btn-danger" })</td>
            </tr>
        }
    </tbody>
</table>