@model List<DvdLibrary.Models.BorrowInfo>

@{
    ViewBag.Title = "BorrowList";
}

<h2>Borrow History for User</h2>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>DVD Title</th>
            <th>Borrowed Date</th>
            <th>Return Date</th>
            <th>User Rating</th>
            <th>User Comment</th>
            <th>Return DVD</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var borrow in Model)
            {
            <tr>
                <td>@borrow.DvdTitle</td>
                <td>@borrow.DateBorrowed.ToShortDateString()</td>
                <td>@borrow.DateReturned.ToString()</td>
                <td>@borrow.BorrowerRating</td>
                <td>@borrow.BorrowerComment</td>
                @if (borrow.IsActive)
                {
                    <td>@Html.ActionLink("Return DVD", "DeactivateBorrow", "Home", new { id = borrow.BorrowInfoId }, new { @class = "btn btn-default" })</td>
                }
                else
                {
                    <td><button>N/A</button></td>
                }
            </tr>
        }
    </tbody>
</table>