@using DvdLibrary.Models
@model DvdLibrary.Models.Dvd
@{
    ViewBag.Title = "DvdDetails";
}

<h2>@Model.Title</h2>

<table class="table table-striped table-hover ">
    <tr>
        <td>Availability</td>
        <td>
            @if (Model.IsAvailable)
            {
                <b><span style="color: darkgreen">Available</span></b>
            }
            else
            {
                <b><span style="color: darkred">Not Available</span></b>
            }
        </td>
    </tr>
    <tr>
        <td>Director</td>
        <td>@Model.Director.FirstName @Model.Director.LastName</td>
    </tr>
    <tr>
        <td>Studio</td>
        <td>@Model.Studio.StudioName</td>
    </tr>
    <tr>
        <td>MPAARating</td>
        <td>@Model.MPAARating</td>
    </tr>
    <tr>
        <td>Release Date</td>
        <td>@Model.ReleaseDate.ToString("MM-dd-yyyy")</td>
    </tr>
</table>

@if (Model.UserComments != null)
{
    <h4 align="center">COMMENTS</h4>

    <table class="table table-striped table-hover">
        @foreach (var comment in Model.UserComments)
        {
            if (comment.Value != null)
            {
                <tr>
                    <td style="color: Gray">@comment.Key said: <span style="color: black">@comment.Value</span></td>
                </tr>
            }
        }
    </table>
}
else
{
    <h4 align="center">NO EXISTING COMMENTS</h4>
} 


