@using DvdLibrary.Models
@model DvdLibrary.Models.Dvd
@{
    ViewBag.Title = "DvdDetails";
}

<h2>@Model.Title</h2>

<table class="table table-striped table-hover ">
    <tr>
        <td>Availability</td>
        <td>
    @if (Model.IsAvailable)
    {
        using (Html.BeginForm("BorrowDvd", "Home", FormMethod.Post))
        {
            @Html.Hidden("DvdId", Model.DvdId)
            <td>@Html.ActionLink("Borrow", "Login", new {DvdId = Model.DvdId}, new {@class = "btn btn-success"})</td>
        }
    }
    else
    {
        <b><span style="color: darkred">Not Available</span></b>
    }
        </td>
    </tr>
    <tr>
        <td>Director</td>
        <td>@Model.Director.FirstName @Model.Director.LastName</td>
    </tr>
    <tr>
        <td>Studio</td>
        <td>@Model.Studio.StudioName</td>
    </tr>
    <tr>
        <td>MPAARating</td>
        <td>@Model.MPAARating</td>
    </tr>
    <tr>
        <td>Release Date</td>
        <td>@Model.ReleaseDate.ToString("MM-dd-yyyy")</td>
    </tr>
</table>
<h4>Cast: </h4>
@foreach (Actor actor in Model.DvdActors)
{
    <span align="center">@actor.FirstName, @actor.LastName</span>
}
<hr style="color: black" size="2">
@if (Model.BorrowerComments != null || Model.UserComments != string.Empty)
{
    <h4 align="center">COMMENTS</h4>
    <hr style="color: red; display: block; width: 2px"/>

    <table class="table table-striped table-hover">
        @if (Model.UserComments != string.Empty)
        {
            <tr>
                <td style="color: blue">Owner said: <span style="color: black"> - @Model.UserComments</span></td>
            </tr>
        }
        @foreach (var user in Model.BorrowerComments)
        {
            foreach (var comment in user.Value)
            {
                if (comment != string.Empty)
                {
                    <tr>
                        <td style="color: Gray">@user.Key said: <span style="color: black"> - @comment</span></td>
                    </tr>
                }
            }
        }
    </table>
}
else
{
    <h4 align="center">NO EXISTING COMMENTS</h4>
    <hr style="color: black" size="2">
} 
