@model DvdLibrary.UI.Models.ListDvdVM
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>DVD Title</th>
            <th>Release Date</th>
            <th>MPAA Rating</th>
            <th>Availability</th>
            <th>Delete DVD</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var dvd in Model.Dvds)
        {
            <tr>
                <td><a href="@Url.Action("DvdDetails", "Home", new {dvd.DvdId})" onclick="dvd.DvdId" type="submit">@dvd.Title</a></td>
                <td>@dvd.ReleaseDate.ToString("MM-dd-yyyy")</td>
                <td>@dvd.MPAARating</td>
                <td>
                    @if (!dvd.BorrowInfo.IsActive && Model.currentBorrower != null)
                    {
                        using (Html.BeginForm("BorrowDvd", "Home", FormMethod.Post))
                        {
                            @Html.Hidden("BorrowerId", Model.currentBorrower.BorrowerId)
                            @Html.Hidden("DvdId", dvd.DvdId)
                            <button class="btn btn-success">Borrow</button>
                        }
                    }
                    else
                    {
                        <button class="btn btn-success" disabled="disabled">Borrow</button>
                    }
                </td>
                <td>@Html.ActionLink("Delete", "DeleteDvd", new { DvdId = dvd.DvdId }, new { @class = "btn btn-danger" })</td>
            </tr>
        }
    </tbody>
</table>