@using DvdLibrary.UI.Models
@model DvdLibrary.UI.Models.BorrowInfoVM
@{
    ViewBag.Title = "BorrowInfo";
}

<h2>BorrowInfo</h2>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>DVD Title</th>
            <th>Borrower Name</th>
            <th>Checkout Date</th>
            <th>Return Date</th>
            <th>User Rating</th>
            <th>User Comments</th>
        </tr>
    </thead>
    <tbody>
        @*Need to be able to associate dvd id -> dvd, get dvd title, same with borrower id->get borrower name*@
        @foreach (var borrow in Model.BorrowInfos)
        {
            <tr>
                <td>@borrow.Dvd.Title</td>
                <td>@borrow.Borrower.FirstName @borrow.Borrower.LastName</td>
                <td>@borrow.DateBorrowed</td>
                <td>@borrow.DateReturned</td>
                <td>@borrow.BorrowerRating</td>
                <td>@borrow.BorrowerComment</td>
            </tr>
        }
    </tbody>
</table> 